.notification {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #ffffff;
  background-color: var(--color-grey-900);
  padding: 0 var(--size-5);
  box-shadow: var(--shadow-card);
  position: fixed;
  height: 5rem;
  bottom: 0;
  width: 100%;
  left: 0;
  border-top-right-radius: 0;
  border-top-left-radius: 0;
}

.notification h2 {
  font-size: 1rem;
  margin: 0;
}

.notification p {
  margin: 0;
}

.success {
  background-color: var(--color-success-500);
  color: #ffffff;
}

.error {
  background-color: var(--color-error-500);
}

@media (min-width: 768px) {
  .notification {
    width: 40rem;
    left: calc(50% - 20rem);
    border-top-right-radius: 8px;
    border-top-left-radius: 8px;
  }
}
